
{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-container">
        {% block sidebar %}
            {{ parent() }}
        {% endblock %}
        {% block main %}
            {{ parent() }}
                 <!-- header area end -->
            <!-- page title area start -->
                <div class="page-title-area mt-5"> <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h3 class="page-title pull-left">Dashboard</h3>
                        </div>
                    </div>

                </div>
            </div>
            <!-- main content area end -->
        {% endblock %}

        {% block table %}
        
            <table class="table">
            <h4 style="padding:30px;"> Les Formations En Cours </h4>
                    <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Désignation</th>
                                <th scope="col">Salle</th>
                                <th scope="col">Début</th>
                                <th scope="col">Fin</th>
                            </tr>
                    </thead>
                    <tbody>
                        {% for formation in formations %}
                        {% if formation.dateSuppression == null %}
                            <tr>
                                <th scope="row">{{ formation.id }}</th>
                                <td>{{ formation.nom }}</td>
                                <td>{{ formation.salle }}</td>
                                <td>{{ formation.dateDebut|date("d-m-Y") }}</td>
                                <td>{{ formation.dateFin|date("d-m-Y") }}</td>
                            <tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
            </table>

            <hr style="padding-top:30px;">

            <table  style="padding-top:30px;" class="table col-6">
            <h4 style="padding:30px;">Chiffres d'affaires </h4>
                <thead>
                        <tr>
                            <th scope="col">Mois</th>
                            <th style="width:300px" scope="col" ></th>
                            <th scope="col">Montants</th>
                        </tr>
                </thead>
                <tbody>
                   <tr>
                        <td>
                        {% for month in months %}
                            <p>{{ month }} </p>
                        {% endfor %}
                        </td>
                        <td></td>
                        <td  >
                            {% for total in totals %}
                                <p class="">{{ (total)|number_format(3, '.') }} XPF</p>
                            {% endfor %}

                        </td>
                   </tr>
                </tbody>
            </table>

        {% endblock %}
    </div>

{% endblock %}

