{% if matiere.nom %}
    {{ form_start(form, {'action': path('addEditMatiere',{"id" : matiere.id}), 'method':'POST' , 'multipart':true })   }}
{% else %}
    {{ form_start(form, {'action': path('addEditMatiere',{"id" : 0}), 'method':'POST' , 'multipart':true })   }}
{% endif %}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
        {% if matiere.nom %}
            Editer
        {% else %}
            Ajouter
        {% endif %}
        Matière</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">


    <div class="form-group row">
        <label for="nom" class="col-form-label col-sm-4">Nom :</label>
        <div class="col-sm-8">
            {{ form_widget(form.nom, { 'value' : matiere.nom })  }}
        </div>
    </div>

    <div class="form-group row">
        <label for="duree" class="col-form-label col-sm-4">Durée :</label>
        <div class="col-sm-6">
            {{ form_widget(form.duree, { 'value' : matiere.duree })  }}
        </div>
        <div class="col-sm-2 px-0">
            <label class="col-form-label">jour(s)
            </label>
        </div>
    </div>


    <div class="form-group row">
        <label for="docs" class="col-form-label col-sm-12">
            <i class="fa fa-file-text pr-2" aria-hidden="true"></i>
            Document(s) :</label>
        <div class="col-sm-12 mt-2">
            <div class="custom-file">
                <input type="file" name="docs[]" id="docs" multiple="multiple">
                <label class="custom-file-label" for="docs">Sélectionner...</label>
            </div>
        </div>
    </div>

    <div>
    {% if matiere.nom %}
        {% if  (docs | length > 0) %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Document</th>
                        <th scope="col" class="text-right">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for doc in docs %}
                        <tr id="tr-{{ doc.documentID }}">
                            <th scope="row">{{ doc.nom }}</th>
                            <td class="text-right">
                                <button type="button" class="btn btn-danger btn-xs ajaxdeleteItem" data-remove="tr-{{ doc.documentID }}" data-remote="/matiere/document/delete/{{ doc.documentId }}">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
    <button type="submit" class="btn btn-primary btn-sm">Valider</button>
</div>
{{ form_end(form) }}
