<form {% if etudiant.uniqId %} action="{{ path("addEditEtudiant" , { "id" : etudiant.id } ) }}" {% else %} action="{{ path("addEditEtudiant" , { "id" : 0 } ) }}" {% endif %} method="POST" enctype="multipart/form-data">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            {% if etudiant.uniqId %}
                Editer
            {% else %}
                Ajouter
            {% endif %}
            étudiant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-sm-7">
                <div class="form-group row">
                    <label for="uniq_id" class="col-form-label col-sm-4">Identifiant :</label>
                    <div class="col-sm-8">
                        <input type="text" name="uniq_id" class="form-control" required id="uniq_id" placeholder="Identifiant" value="{{ etudiant.uniqId }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="prenom" class="col-form-label col-sm-4">Prénom :</label>
                    <div class="col-sm-8">
                        <input type="text" name="prenom" class="form-control" required id="prenom" placeholder="Prénom" value="{{ etudiant.prenom }}">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="nom" class="col-form-label col-sm-4">Nom :</label>
                    <div class="col-sm-8">
                        <input type="text" name="nom" class="form-control" required id="nom" placeholder="Nom" value="{{ etudiant.nom }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="email" class="col-form-label col-sm-4">Email :</label>
                    <div class="col-sm-8">
                        <input type="email" name="email" class="form-control" required id="email" placeholder="Email" value="{{ etudiant.email }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="telephone" class="col-form-label col-sm-4">Téléphone :</label>
                    <div class="col-sm-8">
                        <input type="text" name="telephone" class="form-control" required id="telephone" placeholder="12 34 56 78 90" value="{{ etudiant.telephone }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="adresse" class="col-form-label col-sm-4">Adresse :</label>
                    <div class="col-sm-8">
                        <input type="text" name="adresse" class="form-control" required id="adresse" placeholder="Adresse" value="{{ etudiant.adresse }}">
                    </div>
                </div>

                <hr>

                <div class="form-group row">
                    <label for="date_naissance" class="col-form-label col-sm-4">Date de naissance :</label>
                    <div class="col-sm-8">
                        <input type="date" name="date_naissance" class="form-control" required id="date_naissance" placeholder="jj/mm/aaaa" value="{{ etudiant.dateNaissance | date('Y-m-d') }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="lieu_naissance" class="col-form-label col-sm-4">Lieu de naissance :</label>
                    <div class="col-sm-8">
                        <input type="text" name="lieu_naissance" class="form-control" id="lieu_naissance" placeholder="Lieu de naissance" value="{{ etudiant.lieuNaissance }}">
                    </div>
                </div>

                <hr>

                <div class="form-group row">
                    <label for="niveau" class="col-form-label col-sm-4">Niveau :</label>
                    <div class="col-sm-8">
                        <input type="text" name="niveau" class="form-control" id="niveau" placeholder="Niveau" value="{{ etudiant.niveau }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="note" class="col-form-label col-sm-4">Note :</label>
                    <div class="col-sm-8">
                        <input type="text" name="note" class="form-control" id="note" placeholder="..." value="{{ etudiant.note }}">
                    </div>
                </div>
            </div>


            <div class="col-sm-5">
                {% if etudiant.image is not null and etudiant.image is defined %} 
                    <img src="/Photos_des_profils/{{ etudiant.image  }}" alt="Photo" class="col-8 d-block img-fluid rounded-circle mx-auto">
                {% endif %}
                
                <div class="form-group row">
                    <label for="photo" class="col-form-label col-sm-12">Photo :</label>
                    <div class="col-sm-12">
                        <div class="custom-file">
                            <input type="file" name="image" id="photo">
                            <label class="custom-file-label" for="photo">Sélectionner...</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-primary btn-sm">Valider</button>
    </div>

</form>
