
{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-container">
        {% block sidebar %}
            {{ parent() }}
        {% endblock %}
            {% block main %}
                {{ parent() }}
                 <!-- header area end -->
            <!-- page title area start -->
                <div class="page-title-area mt-5"> <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h3 class="page-title pull-left">Gestion des Evaluations</h3>
                        </div>
                    </div>

                </div>
            </div>
            <!-- main content area end -->

        {% endblock %}
        <!-- button add -->
        <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#modal" data-remote="/evaluation/addEdit/0">
            <b>Ajouter</b>
        </button>
        <table class="table" style="margin-top: 100px;">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom de l'evaluation</th>
                <th scope="col">Date de l'evalution </th>
                <th scope="col">Formation </th>
                <th scope="col">Action </th>

            </tr>
            </thead>
            <tbody>
            {% for evaluation in evaluations %}
            <tr>
                <th scope="row">{{ evaluation.id }}</th>
                <td>{{ evaluation.NomEvaluation }}</td>
                <td>{{ evaluation.dateEvaluation|date("d-m-Y H:i") }}</td>
                <td>{{ evaluation.formation.nom }} </td>
                <td>

                   <button class="btn btn-dark btn-xs " data-toggle="modal" data-target="#modal" data-remote="/evaluation/addEdit/{{ evaluation.id }}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                     <button class="btn btn-danger btn-xs deleteItem" data-remote="/evaluation/delete/{{ evaluation.id }}">
                            <i class="fa fa-times" aria-hidden="true"></i></button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        

{% endblock %}
