{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block body %}
      <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- login area start -->
    <div class="login-area login-s2">
        <div class="container">
            <div class="login-box ptb--100">


                <form action="{{ path('login') }}" method="POST">
                    <div class="login-form-head" style="padding-bottom: 20px;">
                        <h4>Se Connecter</h4>
                        <div style="margin-top: 30px;">
                            <a href="{{ path('dashbaord') }}"><img src="{{ asset('assets/images/icon/logo-ibs.jpg') }}" alt="logo"></a>
                        </div>
                    </div>

                    {% if errors %}
                        <div class="alert alert-danger">

                            {{ errors.messageKey|trans(errors.messageData, 'security')  }}

                        </div>
                    {% endif %}
                    <div class="login-form-body">
                        <div class="form-gp">
                            <label for="username">Nom de l'utilisateur</label>
                            <input type="text" name="_username" id="username" value="{{ userName }}">
                            <i class="ti-user"></i>
                        </div>
                        <div class="form-gp">
                            <label for="Password1">Mot de passe</label>
                            <input type="password" id="password" name="_password">
                            <i class="ti-lock"></i>
                        </div>
                        <div class="row mb-4 rmber-area">
                            <div class="col-6">
                            </div>
                            <div class="col-6 text-right">
                                <a href="#">Mot de passe oublié ?</a>
                            </div>
                        </div>
                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit"><i class="ti-arrow-right"></i>Se Connecter </button>
                        </div>
                        <div class="form-footer text-center mt-5">
                            <p class="text-muted">Vous n'avez pas de compte <a href="{{ path('user_register')}}">S'iscrire</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->
{% endblock %}


