{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-container">
        {% block sidebar %}
            {{ parent() }}
        {% endblock %}
        {% block main %}
            {{ parent() }}
            <!-- header area end -->
            <!-- page title area start -->
                <div class="page-title-area mt-5"> <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h3 class="page-title pull-left">Gestion des Formations</h3>
                        </div>
                    </div>

                </div>
            </div>
            <!-- main content area end -->
        {% endblock %}

        <!-- button add -->
        <button class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#largemodal" data-remote="/formation/addEdit/0">
            <b>Ajouter</b>
        </button>

        <table class="table" style="margin-top: 100px;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Désignation</th>
                    <th scope="col">Salle</th>
                    <th scope="col">Début</th>
                    <th scope="col">Fin</th>
                    <th scope="col" class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for formation in formations %}
                {% if formation.dateSuppression == null %}
                    <tr>
                        <th scope="row">{{ formation.id }}</th>
                        <td>{{ formation.nom }}</td>
                        <td>{{ formation.salle }}</td>
                        <td>{{ formation.dateDebut|date("d-m-Y") }}</td>
                        <td>{{ formation.dateFin|date("d-m-Y") }}</td>
                        <td class="text-right">
                             
                            <a type="button" class="btn btn-info btn-xs mr-1 rounded" href="/formation/print/{{ formation.id }}" target="_blank">
                            <i class="fa fa-print" aria-hidden="true"></i>
                            </a>
                            <button class="btn btn-success btn-xs " data-toggle="modal" data-target="#modal" data-remote="/formation/addNote/{{ formation.id }}">
                                <i class="far fa-edit"></i>
                            </button>
                            <button class="btn btn-dark btn-xs " data-toggle="modal" data-target="#largemodal" data-remote="/formation/addEdit/{{ formation.id }}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-danger btn-xs deleteItem" data-remote="/formation/delete/{{ formation.id }}">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#largemodal" data-remote="/formation/show/{{ formation.id }}">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </button>
                        </td>

                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <a type="button" class="btn btn-info btn-xs mr-1 rounded pull-right" href="/liste/formation/print" target="_blank">
        <i class="fa fa-print" aria-hidden="true"></i>
        </a>
    </div>

{% endblock %}
